@media screen and (min-width: 1040px) {
  body {
    // hero section
    .hero-section {
      flex-direction: row;
      gap: 50px;
      .hero-section_image {
        width: 50%;
      }
      .hero-section_container {
        margin-left: auto;
        width: 50%;
      }
    }

    // mobile app
    .mobile-app-section {
      .mobile-app-section_container {
        padding: 50px;
      }
    }

    // what-we-do section
    .what-we-do-section {
      .what-we-do-section_container {
        padding: 50px;
      }
    }
    // testimonial section
    .testimonial-section {
      .testimonial-section_card-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    // services section
    .services-section {
      .services-section_card-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    // brands-section
    .brands-section {
      .brands-container {
        grid-template-columns: repeat(5, 1fr);
      }
    }

    //  portfolio section
    .portfolio-section {
      padding: 120px 90px 300px;
      .portfolio-section_image-container {
        grid-template-columns: repeat(3, 1fr);
      }

      .rectangle {
        bottom: 100px;
      }
      .portfolio-card-container {
        .portfolio-card {
          right: -50px;
        }
      }
    }

    // about us section
    .about-us-section {
      .card-container {
        padding-top:70px;
        .about-us_card {
          max-width: 420px;
        }

        .about-us-img-container {
          position: relative;
          img {
            width: 430px;
            height: 570px;

            &:last-of-type {
              transform: translate(60%, 50%);
            }
          }
        }
      }
    }
  }
}
